$white: #fff !default;
$black: #000 !default;
$gray-400: #cacbcf !default;
$gray-500: #747576 !default;
$gray-600: #292d36 !default;
$gray-700: #1d222c !default;
$gray-800: #1d1e24 !default;
$gray-900: #0a0b0f !default;
$dark: $gray-900 !default;
$bg: $dark !default;
$green: #34e3c9 !default;
$blue: #32abff !default;
$pink: #f35196 !default;
$purple: #7967fd !default;
$yellow: #e5cf56 !default;
$red: #e53a4a !default;
$border: rgba($white, 0.3) !default;
$badge-dark: $gray-600 !default;