//----------------------------------------------------------//
//	VARIABLES FOR LIGHT
//----------------------------------------------------------//
$headings-color: #292d36;
$bg: #FFF;
$gray-400: #43474f;
$body-color: $gray-400;
//$primary: $blue;
$border: rgba($dark, 0.15);