<div class="swiper-container swiper-bg" data-effect="fade" data-margin="0" data-autoplay="true" data-autoplaytime="7000">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="@@webRoot/assets/img/photos/bg1@@if(context.light){-light}.jpg" alt="" /></div>
      <div class="swiper-slide"><img src="@@webRoot/assets/img/photos/bg2@@if(context.light){-light}.jpg" alt="" /></div>
      <div class="swiper-slide"><img src="@@webRoot/assets/img/photos/bg3@@if(context.light){-light}.jpg" alt="" /></div>
      <div class="swiper-slide"><img src="@@webRoot/assets/img/photos/bg4@@if(context.light){-light}.jpg" alt="" /></div>
    </div>
    <!--/.swiper-wrapper -->
  </div>
  <!-- /.swiper -->
</div>
<!-- /.swiper-container -->