<header class="@@if (context.onePage) {position-absolute} top-0 start-0 w-100">
  <nav class="navbar navbar-expand-lg classic @@if (context.onePage) {transparent} @@if(!context.onePage) {navbar-bg}">
    <div class="container flex-lg-row flex-nowrap align-items-center">
      <div class="navbar-brand w-100">
        <a href="@@webRoot/index@@if(context.light){-light}.html">
          <img src="@@webRoot/assets/img/logo@@if(context.light){-dark}.png" srcset="@@webRoot/assets/img/logo@@if(context.light){-dark}@2x.png 2x" alt="" />
        </a>
      </div>
      <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
        <div class="offcanvas-header d-lg-none">
          <a href="@@webRoot/index@@if(context.light){-light}.html"><img src="@@webRoot/assets/img/logo@@if(context.light){-dark}.png" srcset="@@webRoot/assets/img/logo@@if(context.light){-dark}@2x.png 2x" alt="" /></a>
          <button type="button" class="btn btn-circle btn-white btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body d-flex flex-column h-100">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link @@if(context.onePage){scroll} @@if(context.page==='home'){active}" href="@@if(!context.onePage){@@webRoot/}#home">Home</a></li>
            <li class="nav-item"><a class="nav-link @@if(context.onePage){scroll}" href="@@if(!context.onePage){@@webRoot/}#about">About</a></li>
            <li class="nav-item"><a class="nav-link @@if(context.onePage){scroll}" href="@@if(!context.onePage){@@webRoot/}#portfolio">Portfolio</a></li>
            <li class="nav-item"><a class="nav-link @@if(context.onePage){scroll}" href="@@if(!context.onePage){@@webRoot/}#gallery">Gallery</a></li>
            <li class="nav-item"><a class="nav-link @@if(context.onePage){scroll}" href="@@if(!context.onePage){@@webRoot/}#services">Services</a></li>
            <li class="nav-item"><a class="nav-link @@if(context.onePage){scroll}" href="@@if(!context.onePage){@@webRoot/}#contact">Contact</a></li>
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle @@if (context.page === 'features') {active}" href="#" data-bs-toggle="dropdown">Features</a>
              <ul class="dropdown-menu">
                <li class="nav-item"><a class="dropdown-item" href="index@@if(!context.light){-light}.html">@@if(context.light){Dark}@@if(!context.light){Light} Home</a></li>
                <li class="nav-item">
                  <li class="nav-item"><a class="dropdown-item" href="elements.html">Elements</a></li>
                  <li class="nav-item"><a class="dropdown-item" href="typography.html">Typography</a></li>
                  <li class="nav-item"><a class="dropdown-item" href="icons-slim.html">Slim Icons</a></li>
                  <li class="nav-item"><a class="dropdown-item" href="icons-unicons.html">Unicons</a></li>
                  <li class="nav-item"><a class="dropdown-item" href="documentation.html">Documentation</a></li>
                </li>
                <li class="dropdown dropdown-submenu dropstart"><a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">Submenu Left</a>
                  <ul class="dropdown-menu">
                    <li class="nav-item"><a class="dropdown-item" href="#">Menu item</a></li>
                    <li class="nav-item"><a class="dropdown-item" href="#">Menu item</a></li>
                  </ul>
                </li>
                <li class="dropdown dropdown-submenu dropend"><a class="dropdown-item dropdown-toggle" href="#" data-bs-toggle="dropdown">Submenu Right</a>
                  <ul class="dropdown-menu">
                    <li class="nav-item"><a class="dropdown-item" href="#">Menu item</a></li>
                    <li class="nav-item"><a class="dropdown-item" href="#">Menu item</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
          <!-- /.navbar-nav -->
          <div class="d-lg-none mt-auto pt-6 pb-6 order-4">
            <a href="mailto:#" class="link-body">info@locus.com</a>
            <br /> 00 (123) 456 78 90 <br />
            <nav class="nav social mt-4">
              <a href="#" class="btn btn-circle @@if(context.light){btn-dark}@@if(!context.light){btn-white} btn-behance btn-sm"><i class="uil uil-behance"></i></a>
              <a href="#" class="btn btn-circle @@if(context.light){btn-dark}@@if(!context.light){btn-white} btn-facebook-f btn-sm"><i class="uil uil-facebook-f"></i></a>
              <a href="#" class="btn btn-circle @@if(context.light){btn-dark}@@if(!context.light){btn-white} btn-instagram btn-sm"><i class="uil uil-instagram"></i></a>
            </nav>
            <!-- /.social -->
          </div>
          <!-- /offcanvas-nav-other -->
        </div>
        <!-- /.offcanvas-body -->
      </div>
      <!-- /.navbar-collapse -->
      <div class="navbar-other w-100 d-flex ms-auto">
        <ul class="navbar-nav flex-row align-items-center ms-auto">
          <li class="nav-item">
            <nav class="nav social justify-content-end text-end">
              <a href="#" class="btn btn-circle @@if(context.light){btn-dark}@@if(!context.light){btn-white} btn-behance btn-sm"><i class="uil uil-behance"></i></a>
              <a href="#" class="btn btn-circle @@if(context.light){btn-dark}@@if(!context.light){btn-white} btn-facebook-f btn-sm"><i class="uil uil-facebook-f"></i></a>
              <a href="#" class="btn btn-circle @@if(context.light){btn-dark}@@if(!context.light){btn-white} btn-instagram btn-sm"><i class="uil uil-instagram"></i></a>
            </nav>
            <!-- /.social -->
          </li>
          <li class="nav-item d-lg-none">
            <button class="hamburger offcanvas-nav-btn"><span></span></button>
          </li>
        </ul>
        <!-- /.navbar-nav -->
      </div>
      <!-- /.navbar-other -->
    </div>
    <!-- /.container -->
  </nav>
  <!-- /.navbar -->
</header>